.filter-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-select {
    overflow: initial;
}

.filter-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-column-select {
    overflow: initial;
  }
  
  .wc-icon-none {
    color: rgb(199, 199, 199);
  }

  .temperature-hot {
    color: rgb(180, 0, 0);
  }
  
  .temperature-ok {
    color: #4c9c00;
  }
  
  .temperature-warn {
    color: #ec9d1d;
  }
  
  .temperature-alert {
    color: rgb(180, 0, 0);
  }
  
  .temperature-warm {
    color: rgb(255, 255, 14);
  }
  
  .temperature-cold {
    color: blue;
  }
  
  .temperature-freezing {
    color: rgb(48, 132, 241);
  }
  
  .wc-icon {
    font-size: 27px;
    margin-right: 5px
  }
  .gray { background-color: #ececec }
  .light-gray { background-color: #f5f5f5 }
  
  
